@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.titleLibrary {
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 9px;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  font-family: 'Dancing Script', cursive;
}
