@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

.teacherLayout {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  text-align: center;
  position: relative;
  flex-direction: column;
  /*   background-image: url("../../Assets/images/image4.jpg");
 */ /*   background-repeat: no-repeat;
  background-size: cover; */
}
.teacher_layout_top {
  margin: 10px;
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 5px solid lightgray;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 2px;
  align-self: center;
}
.teacher_layout_mid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*   display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 70%;
  margin-left: 2px;
  justify-content: center; */
  /*   overflow: auto;
 */ /*flex start to prevent elements from growing */
  /*   background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px; */
}
.teacher_layout_bottom {
  margin: 10px;
  width: 96%;
  position: relative;
  display: flex;
  justify-content: center;
  /* border: 5px solid lightgray; */
  background-color: white;
  border-radius: 10px;
  /* align-items: center; */
  justify-content: space-evenly;
  flex-direction: column;
}

.fiche_pfe_description {
  display: flex;
  padding: 2px;
  overflow: auto;
  height: 45px;
}
.teacher_layout_right {
  margin: 10px;
  background-color: white;
  border-radius: 10px;

  font-size: 12px;
  font-weight: 600px;
  display: flex;
  justify-content: center;
  width: 300px;
  flex-direction: column;
  border: 1px solid lightgray;
}
.teacher_layout_left_memberinfo {
  width: 400px;
  min-height: 70px;
  display: flex;
  font-size: 15px;
  flex-direction: column;
  border: 1px solid lightgray;
  background-color: white;

  border-radius: 10px;
  align-items: center;
  text-align: center;
  padding: 15px;
}
.teacher_charts {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  width: 30%;
  height: 80%;
  border-radius: 15px;
  align-items: center;
  margin: 2px;
}
.description_fiche {
  margin-top: 3px;
}

.task_section_main {
  display: flex;
  margin: 10px;
  border-radius: 10px;
  flex-direction: column;
  background: rgb(65, 64, 68);
  background: linear-gradient(
    90deg,
    rgba(65, 64, 68, 0.3981967787114846) 0%,
    rgba(140, 71, 102, 0.04805672268907568) 0%,
    rgba(124, 88, 120, 0.7259278711484594) 35%
  );
  border: 1px solid lightgray;
  background-color: white;
  padding: 10px;
}
@media only screen and (min-width: 900) {
  .teacher_layout_top {
    margin: 10px;
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 5px solid lightgray;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    align-self: center;
  }
}

@media (max-width: 768px) and (max-width: 1090px) {
  .teacher_layout_mid {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .teacher_layout_bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .Calendar {
    width: 98%;
  }
  .listFichePfe {
    width: 60%;
    height: 40%;
  }
  .teacher_charts {
    overflow: auto;
    flex-wrap: wrap;
    width: 98%;
    height: 100%;
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .teacher_layout_mid {
    display: flex;
    flex-direction: column;
  }

  .Calendar {
    width: 98%;
  }

  .teacher_charts {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 100%;
    align-items: center;
  }
}

/* .teacherLayout {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .teacher_layout_calendar {
    background-color: white;
  }

  .teacher_layout_mid {
    overflow: auto;
    width: 400px;
    margin: 10px;
    display: flex;
    height: 25vh;
    border: 1px solid lightgray;
    justify-content: center;
    border-radius: 10px;
  }
  .teacher_layout_left {
    height: 80vh;
    width: auto;
  }
   .fc .fc-more-popover {
    z-index: 8;
    top: 0;
} 
  .fiche_pfe_description {
    display: flex;
    overflow: auto;
    margin-top: 10px;
    width: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    padding: 4px;
  } */

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;

  height: 20px;
  bottom: 0;
  right: 0;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=");
  background-position: bottom right;
  padding: 0 2px 2px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}
