.EvenementModal {
  overflow-y: auto;
  display: flex;
  align-items: center;
  position: fixed;
  top: 15%;
  bottom: 0;
  width: 99%;
  z-index: 680;
  flex-direction: column;
}
.EventModal {
  align-items: center;
  border-radius: 5px;
  z-index: 650;
  transition: all 0.3s ease-out;
  height: 97%;
  flex-direction: column;
  background-color: white;
  border: 1px solid lightgray;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 99%;
  display: flex;
  position: relative;
  justify-content: space-around;
  padding: 30px;
}

.modalCloseButton {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 6px;
  right: 1px;
  border: 1px solid lightblue;
  margin: 2px;
}

.modalCalendarButtons {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  width: 90%;
}

.event_modal_bottom_noneditable {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 3px 3px;
  padding: 6px;
}
.event_participant_field {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid lightblue;
  width: 96%;
  margin: 10px;
  padding: 5px;
}

.Event_input {
  padding: 0px;
  border: none;
  margin: 0px 13px;
  font-size: 12px;
}
.fc .fc-popover {
  position: absolute;
  z-index: 649;
  box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
}
.titleTextArea {
  margin: 42px 0px 0px 2px;
  padding: 2px;
  width: 81%;
  height: 60%;
  align-items: center;
}
.modalInput {
  display: flex;
  margin: 10px;
  border: 1px solid lightblue;
  width: 92%;
  align-items: baseline;
}
.event_modal_operations {
  display: flex;
  align-items: center;
  border: 1px solid lightblue;
  margin: 2px;
  justify-content: space-around;
  width: 99%;
  border-radius: 15px;
}
.event_modal_editable_input {
  border: 1px solid lightblue;
  height: 9%;
  display: flex;
  align-items: center;
  margin: 4px;
  width: 97%;
  border-radius: 6px;
}
.modalInput > label {
  padding: 5px;
  width: 20%;
}

@media only screen and (min-width: 768px) {
  .event_modal_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .event_modal_bottom_noneditable {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 5px;
  }
  .event_participant_field {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid lightblue;
    width: 96%;
    margin: 10px;
    padding: 5px;
  }
  .event_modal_editable_input {
    border: 1px solid lightblue;
    height: 9%;
    display: flex;
    align-items: center;
    margin: 4px;
    width: 85%;
    border-radius: 6px;
  }
  .EvenementModal {
    align-items: center;
    height: 600px;
    width: 50%;
    position: fixed;
    right: 20%;
    z-index: 680;
    margin: auto;
  }
  .EventModal {
    border-radius: 5px;
    z-index: 650;
    transition: all 0.3s ease-out;
    background-color: white;
    flex-direction: column;
    padding: 3%;
    display: flex;
    position: absolute;
    right: 30%;
    top: 20%;
    justify-content: space-between;
    align-items: center;
    height: unset;
    width: unset;
  }
  .Event_input {
    padding: 4px;
    border: none;
    margin: 0px 26px;
    font-size: 15px;
  }
  .modalInput {
    display: flex;
    margin: 5px;
    border: 1px solid lightblue;
    width: 85%;
    align-items: baseline;
    font-size: 20px;
  }
}

/* @media (min-width: 400px) {
        .Modal {
            width: 300px;
            left: calc(50% - 250px);
        }
    } */ /* 

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 0.3s ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all 0.3s ease;
}

.menu-secondary-enter {
  position: absolute;
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all 0.5s ease;
}
.menu-secondary-exit {
  position: absolute;
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all 0.3s ease;
}
 */
