.Calendar {
  /*  box-shadow: 5px 10px white;
 */
  /* position: relative; */
  /*   margin-left: 50px;
 */ /* border-color: black; */
  align-items: center;
  justify-content: center;
  display: flex;
  width: 80%;
  margin: 5px;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 15px;
}

.Calendar_layout {
  margin: 1px;
  width: 95%;
  font-size: 12px;
  font-weight: 400;
  background-color: white;
}
.fc .fc-daygrid-day-number {
  position: relative;
  z-index: 4;
  padding: 4px;
  text-decoration: none;
}
.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  text-decoration: none;
}
