.user_profil {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  box-shadow: 0 0 0 0.5px rgb(50 50 93 / 17%), 0 2px 5px 0 rgb(50 50 93 / 10%),
    0 1px 1.5px 0 rgb(0 0 0 / 7%), 0 1px 2px 0 rgb(0 0 0 / 8%),
    0 0 0 0 transparent;
font-size: 12px;
  align-items: center;
  background-color: rgba(208, 208, 230, 0.103);
  border-radius: 5px;
}

.right_profile_user {
  flex: 0.8;
  margin-left: 50px;
}
.left_profile_user {
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  align-items: center;
  flex: 0.2;
  border-right: 1px solid lightgray;
padding-right: 50px  ;
padding-left: 50px  ;

 /*  height: 550px; */
}
.description_area {
  margin-left: 5px;
}
.sujet_description {
  display: flex;
  align-items: center;
  border-bottom: 2px solid lightgray;
  margin-bottom: 10px;
  font-size: small;
  font-weight: 200;

  /*    justify-content: center;
 */
}
.description_area {
  width: auto;
  height: auto;
}
.progression_tasks {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.right_profile_user_sujet {
  display: flex;
  align-items: center;
  border-bottom : 1px solid lightgray;

}
.right_profile_user_sujet_label{
  margin-right: 10px;
  }
  
  .progression_bars{
    
  }
  
